@page
@model MiniInvoicer.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.SalesRepresentativeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.SalesRepresentativeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.VendorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.VendorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
