@page
@model MiniInvoicer.Pages.AssignedCompanyTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssignedCompanyType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedCompanyType.CompanyTypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedCompanyType.CompanyTypeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedCompanyType.CompanyID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedCompanyType.CompanyID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AssignedCompanyType.AssignedCompanyTypeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
