@page
@model MiniInvoicer.Pages.AssignedCompanyTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignedCompanyType[0].CompanyTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedCompanyType[0].CompanyID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssignedCompanyType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssignedCompanyTypeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssignedCompanyTypeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssignedCompanyTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
