@page
@model MiniInvoicer.Pages.Inventories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.WarehouseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.WarehouseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inventory.InventoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
