@page
@model MiniInvoicer.Pages.ProductTransfers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductTransfer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTransfer.FromWarehouseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTransfer.FromWarehouseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTransfer.ToWarehouseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTransfer.ToWarehouseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTransfer.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTransfer.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTransfer.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTransfer.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTransfer.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTransfer.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductTransfer.ProductTransferID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
