@page
@model MiniInvoicer.Pages.OdometerReadings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OdometerReading</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdometerReading.VehicleID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdometerReading.VehicleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdometerReading.ReadingInKm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdometerReading.ReadingInKm)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OdometerReading.OdometerReadingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
