@page
@model MiniInvoicer.Pages.OdometerReadings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OdometerReading[0].VehicleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdometerReading[0].ReadingInKm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OdometerReading) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadingInKm)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OdometerReadingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OdometerReadingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OdometerReadingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
