@page
@model MiniInvoicer.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountHolderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountHolderTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolderTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
