@page
@model MiniInvoicer.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].BrandID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnisPerPacket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].PacketPerCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].PacketWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CaseWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Tax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnisPerPacket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketPerCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
