@page
@model MiniInvoicer.Pages.Addresses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.AreaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.AreaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.NeighborhoodID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.NeighborhoodID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.CityID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.CityID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.CountryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.CountryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZipcodeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZipcodeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.HolderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.HolderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.GovernorateID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.GovernorateID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.BuildingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.BuildingNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.BuildingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.BuildingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.NearbyPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.NearbyPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Note)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Address.AddressID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
