@page
@model MiniInvoicer.Pages.InvoiceProducts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceProduct[0].InvoiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceProduct[0].ProductPricingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceProduct[0].ProductQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvoiceProduct) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPricingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InvoiceProductID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InvoiceProductID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InvoiceProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
