@page
@model MiniInvoicer.Pages.ProductPricings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductPricing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPricing.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPricing.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPricing.ProductPricingTypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPricing.ProductPricingTypeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPricing.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPricing.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductPricing.ProductPricingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
