@page
@model MiniInvoicer.Pages.Transactions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].FromAccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].ToAccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
