@page
@model MiniInvoicer.Pages.Zipcodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode[0].Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zipcode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZipcodeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ZipcodeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZipcodeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
