@page
@model MiniInvoicer.Pages.Receipts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.InvoiceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receipt.InvoiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.CurrencyID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receipt.CurrencyID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receipt.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receipt.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.TimesPrinted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receipt.TimesPrinted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Receipt.ReceiptID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
